body {
	font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
	font-size: 83.33%;
}

h1 {
	padding: 0.5em;
	font-size: 1.6em;
} 

h2 {
	margin: 0.5em 0;
	font-size: 1.4em;	
}

p {
	margin: 0.5em;	
}

.ui-widget {
	font-size: 1em;	
}

#calendar .wc-grid-row-events {
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
}

#event_edit_container label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

form ul {
	padding: 0.3em;
}

#class_info select, #class_info input[type='text'], #class_info input[type='number'] {
	width: 250px;
	padding: 3px;
}

ul.formatted, ol.formatted {
	display: block;
	margin: 1em 0.5em;
}

ul.formatted li, ol.formatted li {
	margin: 5px 30px;
	display: auto;
}

ul.formatted li {
	list-style-type: disc;
}

ol.formatted li {
	list-style-type: decimal;
}

.wc-scrollable-grid *,
.wc-scrollable-grid *:before,
.wc-scrollable-grid *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

#boxking-navbar {
	margin-bottom: 0;
}

.user_page, .profile_entry {
	margin-top: 3%;
}

#edit_day_limit, #submit_day_limit, #edit_month_payment, #submit_month_payment, .line_item {
	margin-left: 2%;
}

#easteregg {
	text-align: center;
	color: red;
	font-size: 2em;
	display: none;
}

#easteregg img {
	max-width: 30%;
}

#flash-message {
	margin: 0 10%;
}

select#color_input > #blue_color {
    background-color: blue;
}

select#color_input  > #red_color {
    background-color: red;
}

select#color_input  > #green_color {
    background-color: green;
}

select#color_input  > #purple_color {
    background-color: purple;
}

select#color_input  > #brown_color {
    background-color: brown;
}